<nav class="fixed top-0 w-full h-16 backdrop-blur-sm">
    <ul
        class="flex flex-row w-1/3 h-full m-auto justify-between items-center text-lg font-bold"
    >
        <li><a href="/">Home</a></li>
        <li><a href="/partidos">Partidos</a></li>
        <li><a href="/resultados">Resultados</a></li>
    </ul>
</nav>
