---
import ClasiTable from "../components/ClasiTable.astro";
import NavBar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ClasificacioÌn">
    <NavBar client:load />
    <main class="container">
        <section id="table-container">
            <ClasiTable />
        </section>
    </main>
</Layout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 100px auto 50px;
    }

    #table-container {
        width: 90%;
        margin: auto;
    }

    @media (min-width: 768px) {
        #table-container {
            width: 60%;
        }
    }
</style>
