---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import InstagramFeed from "../components/InstagramFeed";
import NavBar from "../components/NavBar.astro";
import Marcador from "../components/Marcador";
---

<Layout title="Welcome to Astro.">
    <NavBar />
    <section id="portada">
        <img id="logo-vam" src="/LOGO_CIRCULAR.webp" alt="logo vam" />
    </section>
    <main class="page-container">
        <section id="stream-container">
            <h2>Stream</h2>
            <Marcador client:load />
            <iframe
                src="https://player.twitch.tv/?channel=vamcerrodelviento&parent=localhost"
                allowfullscreen="true"
                height="378"
                width="620"></iframe>
        </section>
    </main>
</Layout>

<style>
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;

        background-color: aquamarine;
    }

    #portada {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:
            var(--bg-img) no-repeat center center,
            var(--bg-color);
        background-size: cover;
        box-shadow: inset 0px -100px 40px -40px var(--bg-color);
        z-index: -1;
    }

    #logo-vam {
        width: 400px;
    }

    #stream-container {
        width: 100%;
        height: 500px;
    }

    iframe {
        border: 0;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
</style>
