<footer>
    <div>
        <p>© 2022 - {new Date().getFullYear()} VAM</p>
    </div>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        background-color: var(--secondary-color);
    }
</style>
