.ig-container {
    display: flex;
    margin: 70px auto 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ig-feed {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

.ig-card {
    cursor: pointer;
    flex: 1 1 250px;
}

.ig-card:hover {
    opacity: 0.8;
}

.ig-photo {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    object-fit: cover;
}
