.ig-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ig-feed {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    width: 100%;
    flex-wrap: wrap;
    column-count: 5;
    margin: auto;
    width: 80%;
}

.ig-card {
    cursor: pointer;
}

.ig-card:hover {
    opacity: 0.8;
}

.ig-photo {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
