---
//Get viewport
import IconMenu from "../icons/Icons.js";
---

<nav>
    <ul>
        <div class="hide">
            <li><a href="/">Home</a></li>
            <li><a href="/clasification">Clasificaci칩n</a></li>
            <li><a href="/lastgames">U패ltimos partidos</a></li>
            <img class="sunmoon" src="/moon.png" alt="moon" />
        </div>
        <img class="icon" src="/menu.svg" alt="menu" />
    </ul>
    <ul class="popup">
        <li><a href="/">Home</a></li>
        <li><a href="/clasification">Clasificaci칩n</a></li>
        <li><a href="/lastgames">U패ltimos partidos</a></li>
        <img class="sunmoon" src="/moon.png" alt="moon" />
        <img class="icon" src="/menu.svg" alt="menu" />
    </ul>
</nav>

<style>
    nav {
        position: fixed;
        top: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0106137b;
        color: white;
        font-size: 20px;
        line-height: 1.6;
        font-weight: 500;
        padding: 1em;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 1em;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0.5em;
        border-radius: 0.5em;
        transition: background-color 0.3s ease;
    }

    li:hover {
        background-color: #23262d;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sunmoon {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    @media (max-width: 768px) {
        .hide {
            display: none;
        }
    }

    @media (min-width: 768px) {
        .icon {
            display: none;
        }
    }
</style>

<script>
    const sunmoon: HTMLImageElement = document.querySelector(".sunmoon");
    const icon: HTMLImageElement = document.querySelector(".icon");

    sunmoon.addEventListener("click", () => {
        if (sunmoon.alt == "moon") {
            sunmoon.src = "/sun.png";
            sunmoon.alt = "sun";
            localStorage.setItem("theme", "light");
            document.documentElement.setAttribute("data-theme", "light");
            icon.setAttribute("style", "filter: invert(1)");
        } else {
            sunmoon.src = "/moon.png";
            sunmoon.alt = "moon";
            localStorage.setItem("theme", "dark");
            document.documentElement.setAttribute("data-theme", "dark");
            //set icon color white
            icon.setAttribute("style", "filter: invert(1)");
        }
    });

    //pre-check the dark-theme checkbox if dark-theme is set
    if (document.documentElement.getAttribute("data-theme") == "dark") {
        sunmoon.src = "/moon.png";
        sunmoon.alt = "moon";
        icon.setAttribute("style", "filter: invert(1)");
    } else {
        sunmoon.src = "/sun.png";
        sunmoon.alt = "sun";
    }
</script>
