nav {
    position: fixed;
    top: 0;
    height: 64px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0106137b; */
    background-color: var(--nav-bg-color);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 500;
    z-index: 1;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1em;
    margin: 0;
    padding: 0;
}

li {
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: var(--primary-color);
}

.space-between {
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0 1em;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two {
    flex: 2;
    display: flex;
    justify-content: center;
}

.popup {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    gap: 10px;
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.close {
    display: none;
}

.sunmoon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: invert(1);
}

.logo {
    width: 30px;
    height: 30px;
}
